:root {
    --default: black;
    --absent: #3a3a3c;
    --present: #b59f3b;
    --correct: #538d4e;
}

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    color: white;
    overflow: hidden;
}

html, body {
    display: block;
    background: var(--default);
    font-family: 'Courier New', monospace;
    font-weight: 600;
}

/* Nav Bar */
nav{
    position: inherit;
    display: flex;
    padding: 40px;
    width: 100%;
    height: 10vh;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    padding: 15px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

nav ul li{
    position: relative;
    display: inline-block;
    margin: 5px 20px;
    font-size: 2em;
    color: white;
    padding: 15px 15px;
    transition-delay: 0.5s;
    transition: 0.5s;
}

nav ul li::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease-out;
}

nav ul li:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

nav ul li:hover{
    font-size: 2.2em;
}

#title {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: 2px;
}

hr {
    width: 500px;
}

#game {
    display: grid;
    width: 100%;
    height: 600px;
    place-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
}

.box {
    display: grid;
    width: 60px;
    height: 60px;
    place-items: center;
    border: solid 2px var(--absent);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: bold;
}

.box.absent {
    background-color: var(--absent);
}

.box.present {
    background-color: var(--present)
}

.box.correct {
    background-color: var(--correct);
}

.animate {
    animation: flip 0.5s ease;
}

@keyframes flip{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

button{
    background-color: var(--correct);
    border-radius: 20px;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
}

button:active{
    opacity: 0.8;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.open {
    opacity: 1;
    z-index: 10;
}

.popup-content{
    background: var(--absent);
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    width: fit-content;
}

.popup-content h1{
    line-height: 24px;
    padding: 10px;
}

.popup-content p{
    line-height: 24px;
    padding: 10px 0;
}